body { 
    margin: 0;
    padding: 0;
    background-image:url(images/3ISNfb.jpg);
    background-size: cover; 
    background-position: center;
    color: white;
}

p{
    font-family: 'Cedarville Cursive', cursive;
    font-size: 60px;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header, footer {
    background-color: #3498db;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#madLibOutput {
    padding: 20px;
    text-align: center;
}

/* Add more styles based on your creativity and design preferences */